.half-opacity {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
@font-face {
  font-family: 'September Mornings';
  src: url('../lib/fonts/September Mornings.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue Ultrafina';
  src: url('../lib/fonts/helvetica-neue-ultra-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Regina';
  src: url('../lib/fonts/ReginaFree.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../lib/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-r';
  src: url('../lib/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair';
  src: url('../lib/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nickainley';
  src: url('../lib/fonts/Nickainley.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MoonLight';
  src: url('../lib/fonts/Moon Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MoonBold';
  src: url('../lib/fonts/Moon Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrelaRegular';
  src: url('../lib/fonts/brelaregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BigJohn';
  src: url('../lib/fonts/BIG JOHN.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SlimJoe';
  src: url('../lib/fonts/Slim Joe.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.title {
  padding: 20px 10% 20px 10% !important;
  font-size: 14px;
  font-family: 'Montserrat';
  font-size: 30px;
}
@media only screen and (min-width: 350px) and (max-width: 529px) {
  .title {
    font-size: 23px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 23px;
  }
}
.verdana {
  font-family: verdana,arial;
}
.playfair {
  font-size: 14px;
  font-family: 'Playfair';
}
.montserrat {
  font-size: 14px;
  font-family: 'Montserrat';
}
.montserrat-r {
  font-size: 14px;
  font-family: 'Montserrat-r';
}
.raleway {
  font-size: 14px;
  font-family: 'Raleway', Arial, sans-serif;
}
.brelaregular {
  font-size: 14px;
  font-family: 'BrelaRegular';
}
.slimjoe {
  font-size: 14px;
  font-family: 'SlimJoe';
}
.bigjohn {
  font-size: 14px;
  font-family: 'BigJohn';
}
.moonlight {
  font-size: 12px;
  font-family: 'MoonLight';
}
.moonbold {
  font-size: 12px;
  font-family: 'MoonBold';
}
.nickainley {
  font-size: 12px;
  font-family: 'Nickainley';
}
.regina {
  font-size: 12px;
  font-family: 'Regina';
}
.september-mornings {
  font-family: 'September Mornings';
}
.helvetica-neue-ultrafina {
  font-family: 'Helvetica Neue Ultrafina';
}
.lucida_grande {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
}
.text-justify {
  text-align: justify !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.anchor-text {
  padding: 10px 10% 10px 10% !important;
  text-align: justify;
  color: #949393;
}
@media only screen and (min-width: 350px) and (max-width: 529px) {
  .anchor-text {
    text-align: left;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #ebeaea !important;
  font: bold 14px 'Open Sans', sans-serif;
}
body:after {
  background: red;
  color: white;
  content: "undefined";
  top: 80px;
  right: 0;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: .5em 1em;
  position: fixed;
  text-align: center;
  z-index: 99;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body:after {
    background: #9e487f;
    content: "mobile-mini";
  }
}
@media only screen and (min-width: 350px) and (max-width: 529px) {
  body:after {
    background: orange;
    content: "mobile";
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  body:after {
    background: purple;
    content: "tablet";
  }
}
@media only screen and (min-width: 530px) and (max-width: 640px) {
  body:after {
    background: #9d5e7e;
    content: "tablet-mini";
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  body:after {
    background: green;
    content: "desktop";
  }
}
@media only screen and (min-width: 1129px) {
  body:after {
    background: blue;
    content: "desktop-xl";
  }
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
header,
nav {
  display: block;
}
header h1 {
  font-size: 20px;
  font-weight: 100;
}
@media only screen and (min-width: 350px) and (max-width: 529px) {
  header h1 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  header h1 {
    font-size: 18px;
  }
}
section {
  height: auto;
}
h1,
h2,
h3,
p,
blockquote,
pre {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-variant: normal;
}
h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}
@media only screen and (min-width: 350px) and (max-width: 529px) {
  h1 {
    font-size: 19px;
  }
}
h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 21px;
}
h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
small {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  border-left: 8px solid #ddd;
}
pre {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
a {
  text-decoration: none;
  color: inherit;
}
p,
strong,
blockquote {
  text-align: justify;
}
footer {
  height: 50px;
  background: black;
  color: white;
  padding: 15px 0;
}
footer small {
  padding: 0 20px;
  float: left;
}
footer small a {
  color: #828282;
}
footer small a:hover {
  color: white;
}
@media only screen and (min-width: 350px) and (max-width: 529px) {
  footer {
    height: 60px;
    padding: 0;
    padding-top: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    height: 60px;
    padding: 0;
    padding-top: 10px;
  }
}
#phone_number {
  position: absolute;
  display: block;
  top: 5px;
  line-height: 40px;
  padding: 15px 0px;
  font-size: 14px;
  font-family: 'Montserrat-r';
}
@media only screen and (min-width: 1129px) {
  #phone_number {
    right: 70px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #phone_number {
    right: 30px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #phone_number {
    left: 80px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 529px) {
  #phone_number {
    left: 80px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #phone_number {
    left: 80px;
  }
}
#phone_number > img {
  float: left;
  vertical-align: middle;
  opacity: .6;
}
.bg-color-1 {
  background: #2b2b2b !important;
}
.bg-color-2 {
  background: #1b1b1b !important;
}
.bg-color-3 {
  background: black !important;
}
.bg-color-4 {
  background: #2f3238 !important;
}
.user-login {
  position: fixed;
  color: white;
  background: #327db4;
  padding: 6px 10px;
  left: 4%;
  z-index: 1800;
}
.alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  margin: 20px 40px;
  position: relative;
  top: -30px;
}
.alert > p {
  font: bold 18px 'Open Sans', sans-serif !important;
  color: #d90402 !important;
}
.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin: 20px 40px;
  position: relative;
  top: -30px;
}
.success > p {
  font: bold 18px 'Open Sans', sans-serif !important;
  color: #3c763d !important;
}
