.half-opacity {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.grayscale:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.sepia:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
.saturate {
  -webkit-filter: saturate(8);
  filter: saturate(8);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.saturate:hover {
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
.hue_rotate {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.hue_rotate:hover {
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}
.invert {
  -webkit-filter: invert(0.8);
  filter: invert(0.8);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.invert:hover {
  -webkit-filter: invert(0);
  filter: invert(0);
}
/*.opacity {
    -webkit-filter: opacity(.4);
    filter: opacity(.4);
    .transition(all 1s ease);
}
.opacity:hover {
    -webkit-filter: opacity(1);
    filter: opacity(1);
}*/
.brightness {
  -webkit-filter: brightness(3);
  filter: brightness(3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.brightness:hover {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.contrast {
  -webkit-filter: contrast(4);
  filter: contrast(4);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.contrast:hover {
  -webkit-filter: contrast(1);
  filter: contrast(1);
}
.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.blur:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.drop-shadow {
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.drop-shadow:hover {
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
}
